/*
  by aeronomatron.

  Style sheet for the archive.
*/

body {
  background-image: url("img/legscreen1.png");
  background-attachment: fixed;
  background-size: cover;
  font-family: "Gemunu Libre", sans-serif;
  font-size: 15px;
  color: white;
  margin: 0px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

main {
  margin: auto;
  width: 80%;
}

/* header styles */
header {
  background-color: rgba(0,0,0,0.6);
  position: sticky;
  top: 0;
  height: 15vh;
}

#copyright {
  position: fixed;
  bottom: 0;
}

header, nav, header div {
  display: flex;
  align-items: center;
}

header, nav {
  justify-content: space-around;
}

header img {
  margin: 0px;
  margin-right: 1.5vw;
  height: 15vh;
}

header .navbar {
  background-color: black; 
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Gemunu Libre", sans-serif;
  font-size: 16px;
  border-radius: 2px;
  transition-duration: 0.3s;
}

#badgebutton {
  background-color: #FFFFFF;
  border: 1px solid rgb(209,213,219);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Gemunu Libre", sans-serif;
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .5rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#badgebutton:hover {
  background-color: rgb(249,250,251);
}

#badgebutton-39:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

#badgebutton-39:focus-visible {
  box-shadow: none;
}

/* footer */
div footer {
  font-style: italic;
}

/* all images */
img {
  border-radius: 3px;
}

.fullpainting, .feraldesign img, .humandesign img, .charproj img{
  max-width: 100%;
  height: auto;
}

.portrait {
  max-width: 60%;
  width: auto;
}

.bundle, #playdohpanels {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

#designs {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  align-content: flex-start;
}

#designs article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  height: auto;
  width: 500px;
  padding: 5px;
}

.bundle img {
  max-width: 15%;
  height: auto;
  padding: 5px;
}

#banner, .panels {
  max-width: 100%;
  max-height: 100%;
  padding: 5px;
}

/* project style */
.desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: rgba(0,0,0,0.6);
  border-radius: 5px;
}

.desc img {
  max-width: 20%;
}

.desc p {
  padding: 10px;
}

.concepts {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.concepts article, #flexset img {
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
}

.concepts img {
  padding: 10px;
}

img.makesmall {
  max-width: 30vw;
}

#flexset {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  align-content: start;
  justify-content: center;
}

/* animations */
.animbutton {
  max-width: 30%;
  padding: 10px;
}

.anim2d, .anim3d {
  padding: 20px;
  background-color: rgba(0,0,0,0.6);
  border-radius: 5px;
}

.anim3dx, .anim3dstorm, .animdrawn {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.animheader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.animation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  height: auto;
  width: 500px;
  padding: 5px;
}

.ytvid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-width: 0;
  width: 80%;
  aspect-ratio: 16/9;
}

.hidden {
  display: none;
}