/*
  by aeronomatron.

  Style sheet for the archive.
*/

body {
  background-image: url("img/legscreen1.png");
  background-attachment: fixed;
  background-size: cover;
  font-family: "Gemunu Libre", sans-serif;
  color: white;
  margin: 0px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

main {
  margin: auto;
  width: 80%;
}

/* header styles */
header {
  background-color: rgba(0,0,0,0.6);
  position: sticky;
  top: 0;
  height: 15vh;
}

#copyright {
  position: fixed;
  bottom: 0;
}

header, nav, header div {
  display: flex;
  align-items: center;
}

header, nav {
  justify-content: space-around;
}

header img {
  margin: 0px;
  margin-right: 1.5vw;
  height: 15vh;
}

header button {
  background-color: black; 
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Gemunu Libre", sans-serif;
  font-size: 16px;
  border-radius: 2px;
  transition-duration: 0.3s;
}

.button:hover {
  background-color: white;
  color: black;
}

/* footer */
div footer {
  font-style: italic;
}

/* images */
img {
  border-radius: 3px;
}

.fullpainting, .sketches, .feraldesign img, .humandesign img, .charproj img{
  max-width: 100%;
  height: auto;
}

.portrait {
  max-width: 60%;
  width: auto;
}

.bundle, #playdohpanels {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

#designs, #sketchsection, .charproj {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  align-content: flex-start;
}

#designs article, #sketchsection article{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  height: auto;
  width: 500px;
  padding: 5px;
}

.bundle img {
  max-width: 15%;
  height: auto;
  padding: 5px;
}

#banner, .panels {
  max-width: 100%;
  max-height: 100%;
  padding: 5px;
}

/* project style */
.desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: rgba(0,0,0,0.6);
  border-radius: 5px;
}

.desc img {
  max-width: 20%;
}

.desc p {
  padding: 10px;
}

.concepts {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.concepts article {
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
}

.concepts img {
  padding: 10px;
}

img.makesmall {
  max-width: 40vw;
}

.hidden {
  display: none;
}